In [1]:
print('Chirag')

Chirag

In [2]:
print('o----')
print(' ||||')

o----
 ||||

In [3]:
print('*' * 10)

**********

In [4]:
name = input('What is your name? ')

What is your name? jani

In [5]:
print('Hi ' + name)

Hi jani

In [9]:
year = input('What is our birth year? ')
print(type(year))
age = 2020 - int(year)
print(type(age))
print(age)

What is our birth year? 1989
<class 'str'>
<class 'int'>
31

In [13]:
wt_in_pound = input('What is your weight in pounds: ')
wt_in_kg = int(wt_in_pound)/2.205
print('Your weight is '+ str(wt_in_kg) + ' kg')

What is your weight in pounds: 150
Your weight is 68.02721088435374 kg

In [14]:
course = ''' 
Hi John,

Here is our first email

apostrophe : '

double apostrophe: "

no confusion at all ' " + 1e"'


'''

In [15]:
print(course)

Hi John,

Here is our first email

apostrophe : '

double apostrophe: "

no confusion at all ' " + 1e"'

In [16]:
course = 'Python for Beginners'

In [17]:
print(course[0])

P

In [18]:
print(course[-1])

s

In [19]:
print(course[-2])

r

In [20]:
print(course[0:3])

Pyt

In [ ]:
course = 'Python for Beginners'
          012345

In [21]:
course[0:3] ## upto but not including 3

'Pyt'

In [22]:
print(course[0:])  ## until returns last index

Python for Beginners

In [24]:
print(course[:4]) ## 0 is assumed start

Pyth

In [25]:
name = 'Jennifer'

In [26]:
print(name[1:-1])  ## ennife

ennife

In [1]:
first = 'John'
last = 'Smith'

message = first + ' [' + last + '] is a coder'

In [2]:
print(message)

John [Smith] is a coder

In [3]:
msg = f'{first} [{last}] is a coder'

In [4]:
print(msg)

John [Smith] is a coder

In [5]:
course = 'Python for Beginners'

In [6]:
len(course)

20

In [7]:
course.upper()

'PYTHON FOR BEGINNERS'

In [8]:
course

'Python for Beginners'

In [9]:
course.lower()

'python for beginners'

In [10]:
course.find('P')

0

In [11]:
course.find('o') ##find method is case sensitive

4

In [13]:
course.find('O') ## If not found returns -1

-1

In [14]:
course.find('Beginners')

11

In [15]:
course.replace('Beginners', 'Absolute Beginners')

'Python for Absolute Beginners'

In [16]:
'Python' in course

True

In [20]:
'python' in course

False

In [ ]:

len()
course.upper()
course.lower()
course.find()
course.replace()
'...' in course

In [21]:
course.title()

'Python For Beginners'

In [30]:
10//3.8 ## double slash // gives integer

2.0

In [32]:
10/3

3.3333333333333335

In [33]:
10%3  ## gives modulus or remainder

1

In [36]:
10**3 ## exponent or 10 raised to 3

1000

In [39]:
100^5

97

In [43]:
x = 10

In [44]:
x +=3

In [45]:
x

13

In [46]:
x -=3

In [47]:
x

10

In [48]:
x = 10 + 3 * 2

In [49]:
x

16

In [51]:
x = (2+3) * 10 -3 
x

47

In [58]:
x = 2.5
round(x)

2

In [59]:
abs(-2.9)

2.9

In [60]:
import math

In [61]:
math.ceil(2.9)

3

In [62]:
math.floor(2.9)

2

In [72]:
is_hot = False
is_cold = False
if is_hot: 
    print("It's a hot day")
    print("Drink Plenty of Water")
elif is_cold:
    print("It's a cold day")
    print("Wear warm clothes")
else:
    print("It's a lovely day")
print("Enjoy your day")

It's a lovely day
Enjoy your day

In [77]:
good_credit = True
price = 1000000

if good_credit:
    dp = 0.1*price
    
else:
    dp = 0.2*price
    
print(f'Downpayment is ${dp}')

Downpayment is $100000.0

In [78]:
has_high_income = True
good_credit = True

if has_high_income and good_credit:
    print("Eligible for Loan")

Eligible for Loan

In [80]:
has_high_income = False
good_credit = True

if has_high_income or good_credit:
    print("Eligible for Loan")

Eligible for Loan

In [2]:
temp = 30

if temp>35:
    print("It's hot day")
else:
    print("Its not a hot day")

Its not a hot day

In [10]:
name = input('Enter your name')

if len(name) < 3:
    print("Name must be atleast 3 character")
elif len(name)>50:
        print("name can be maximum of 50 character")
else:
    print("name looks good")

Enter your namecgcgcgcgcgcgcgcgcgcgcgcgcgcgcgcgcgcgcgcgcgcggcgcgcgcgcgcgcgcgcgcgcgcggcggcgcgcgcgcg
name can be amximum 50 character

In [13]:
wt = input("Enter your weight ")
unit = (input(" (L)bs or (K)g ")).lower()

if unit == 'k':
    weight = int(wt) * 2.205
    print(f'your weight is {weight} pounds')
else:
    weight = int(wt) / 2.205
    print(f'your weight is {weight} kg')

Enter your weight 150
 (L)bs or (K)g L
your weight is 68.02721088435374 kg

In [17]:
i = 1

while i<=5:
    print("*" * i)
    i += 1
print("Done")

*
**
***
****
*****
Done

## Guessing Game

In [26]:
secret_number = 9
guess_limit = 3
guess_count = 0
while guess_count < guess_limit:
    guess = int(input("Guess: "))
    guess_count+=1
    if guess == secret_number:
        print("You won")
        break
else:
    print("Sorry you failed")

Guess: 3
Guess: 9
You won

## Car Game

In [1]:
started = False
while True:
    car = input("").lower()
    if car == 'start':
        if started:
            print('car is already started')
        else: 
            started = True
            print("Car started..Ready to go!")
    elif car == 'stop':
        if not started:
            print('Car already stopped')
        else: 
            started = False
            print("Car stopped")
    elif car == 'help':
        print("start - to start the car")
        print("stop - to stop the car")
        print("quit - to exit") 
    elif car == 'quit': 
        break
    else:
        print("I don't understand")

start
Car started..Ready to go!
start
car is already started
stop
Car stopped
stop
Car already stopped
help
start - to start the car
stop - to stop the car
quit - to exit
quit

## For loop

In [2]:
for item in 'Python':
    print(item)

P
y
t
h
o
n

In [3]:
for item in ['Mosh', 'John', 'Sara']:
    print(item)

Mosh
John
Sara

In [4]:
for item in [1,2,3,4]:
    print(item)

1
2
3
4

In [7]:
for item in range(5,10, 2):
    print(item)

5
7
9

In [11]:
prices = [100,20,30]
total = 0

for item in prices:
    total = item + total

print(total)

150

## Nested loop

In [24]:
numbers = [5,2,5,2,2]

for item in numbers:
    output = ''
    for k in range(item):
        output = output + 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

In [17]:
range(5)

range(0, 5)

In [31]:
names = ['John', 'Bob', 'Sarah', 'Marlyn', 'Mary']
print(names[0])
print(names[2])
print(names[-1])
print(names[-2])

John
Sarah
Mary
Marlyn

In [33]:
print(names[2:4])

['Sarah', 'Marlyn']

## Max number in a list

In [46]:
l = [1,2,5,67,23,450,20,1000,21,4,5,670]
maxi = l[0]
for item in l:
    if item>maxi:
        maxi = item
print(maxi)

1000

## 2D lists

In [50]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

matrix[0][1]

2

In [51]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
matrix[0][1] = 20

In [53]:
matrix[0][1]

20

In [54]:
for row in matrix:
    for item in row:
        print(item)

1
20
3
4
5
6
7
8
9

## Lists

In [55]:
numbers = [5,2,1,7,4]

In [56]:
numbers.append(20)

In [57]:
numbers

[5, 2, 1, 7, 4, 20]

In [58]:
numbers.insert(0,10)
print(numbers)

[10, 5, 2, 1, 7, 4, 20]

In [61]:
numbers.remove(1)
print(numbers)

[10, 2, 7, 4, 20]

In [62]:
numbers.clear()

In [63]:
numbers

[]

In [64]:
numbers = [5,2,1,7,4]
numbers.pop()  ## removes last item
print(numbers)

[5, 2, 1, 7]

In [66]:
numbers.index(7)

3

In [67]:
numbers.index(50)

ValueError: 50 is not in list

In [71]:
numbers = [5,2,1,5,7,4]
print(50 in numbers)

False

In [72]:
numbers = [5,2,1,5,7,4]
print(numbers.count(5))

2

In [73]:
numbers = [5,2,1,5,7,4]
print(numbers.sort())

None

In [75]:
numbers.reverse()
print(numbers)

[7, 5, 5, 4, 2, 1]

In [77]:
numbers2 = numbers.copy()

numbers.append(10)

In [78]:
print(numbers2)

[7, 5, 5, 4, 2, 1]

In [79]:
numbers

[7, 5, 5, 4, 2, 1, 10]

In [90]:
print(numbers)

[1, 5, 3, 2, 5, 5, 5, 5, 5, 6, 7, 7, 7, 7, 7, 7, 9, 10, 10, 9]

In [91]:
numbers.count(7)

6

## Duplicate removal

In [97]:
numbers = [1,5,3,2,5,5,5,5,5,6,7,7,7,7,7,7,7,9,10, 10, 9, 89, 85]
unique = []

for item in numbers:
    
    if item not in unique:
        unique.append(item)

print(unique)

[1, 5, 3, 2, 6, 7, 9, 10, 89, 85]

In [96]:
unique

[1, 5, 3, 2, 6, 7, 9, 10, 89, 85]

## Tuples

In [98]:
numbers = (1,2,3) ##Tuples are immutable
numbers[0]

1

In [99]:
numbers[0]=10

TypeError: 'tuple' object does not support item assignment

## Unpacking

In [100]:
coordinates = (1,2,3)

x,y,z = coordinates

In [101]:
print(x)

1

In [102]:
## same with list

In [103]:
coord = [1,2,3]

x,y,z = coord
print(x)

1

## Dictionary

In [105]:
dictionary = {'name' : 'Jon smith',
             'bday' : 'Jan 1 1980',
             'city' : 'Austin'}

In [110]:
dictionary['hobby']= 'reading'

In [111]:
dictionary

{'name': 'Jon smith',
 'bday': 'Jan 1 1980',
 'city': 'Austin',
 'hobby': 'reading'}

## Numerical to word program

In [134]:
numtoword = {"1" : 'One',
            "2" : "Two",
            "3" : "Three",
            "4": "Four",
            "5": "Five",
            "6": "Six", 
            "7": "Seven",
            "8": "Eight",
            "9": "Nine",
            "0": "Zero"}

In [135]:
numtoword

{'1': 'One',
 '2': 'Two',
 '3': 'Three',
 '4': 'Four',
 '5': 'Five',
 '6': 'Six',
 '7': 'Seven',
 '8': 'Eight',
 '9': 'Nine',
 '0': 'Zero'}

In [139]:
phone = input("Phone: ")
output = ""
for item in phone:
    output += numtoword.get(item, "!")+ " "
print(output)

Phone: 12dgh619
One Two ! ! ! Six One Nine

In [126]:
numtoword.get(4)

'Four'

## Exception handling

In [142]:
try:
    age = int(input("Age: "))
    income = 20000
    risk = income/age
    print(age)
except ValueError:
    print("Invalid value")
except ZeroDivisionError:
    print("Age cannot be zero")

Age: 23
23

## Classes

In [143]:
## Classes are named with first letter capital and if there
## are more than two words, first letetr of each word is caps. no underscore.

In [144]:
class Point:
    def move(self):
        print("move")
    
    def draw(self):
        print("draw")

        
point1 = Point()
point1.x = 10

In [145]:
point1.draw()

draw

In [146]:
point1.x = 10
print(point1.x)

10

In [148]:
point2 = Point()
point2.x = 1
print(point2.x)

1

## Constructors

In [149]:
class Point:
    def __init__(self, x,y):
        self.x = x
        self.y = y
    def move(self):
        print("move")
    
    def draw(self):
        print("draw")

        
point = Point(10,20)
print(point.x)

10

In [150]:
point.y

20

In [160]:
class Person:
    def __init__(self, name):
        self.name = name
    def talk(self):
        print(f"Hi I am {self.name}")

chris = Person("Chris Smith")

In [161]:
chris.talk()

Hi I am Chris Smith

In [155]:
print(chris.name)

Chris

In [164]:
bob = Person("Bob Allen")
bob.talk()

Hi I am Bob Allen

In [168]:
class Mammal:
    def walk(self):
        print("Walk")

class Dog(Mammal):
    def voice(self):
        print("Dog barks")
    


class Cat(Mammal):
    def voice(self):
        print("Cat Meows")


buggy = Dog()

In [170]:
buggy.voice()

Dog barks

In [2]:
import converters

NameError: name 'null' is not defined